# installation
*.o
*.cxx
*.h.gch
*.so
*.pbs.e*
*.pbs.o*
*.pyc
*/*.o
*/*.cxx
*/*.h.gch
*/*.so
*~
*/*~
*/*.pbs.e*
*/*.pbs.o*
*/*.pyc
build
build/*
dist
dist/*

openmoc/openmoc.py
openmoc/openmoc_wrap.cpp

openmoc/cuda/openmoc_cuda.py
openmoc/cuda/openmoc_cuda_wrap.cpp

# output files
log
log/*
*/log
*/log/*
tracks
tracks/*
*/tracks
*/tracks/*
plots
plots/*
*/plots
*/plots/*
fission-rates
fission-rates/*
*/fission-rates
*/fission-rates/*
simulation-state*
simulation-state/*
*/simulation-state*
*/simulation-state*/*


*.data
*/*.data
*.png
*/*.png

openmoc-*-.log
*/openmoc-*-.log

Openmp
*/penmp
penmoc
penmp-report
*/penmoc
*/penmp-report
*.egg-info/*
*/*.egg-info/

#Documentation
sphinx/
docs/build
docs/build/*
docs/doxygen/xml
docs/doxyge/xml/*

build/*
*/build/
*/build/*

# PyCharm configuration files
.idea*
.idea/*
.idea/*.xml

*.DS_Store
*/*.DS_Store

# Use wildcards as well
# *~
*.swp

# C++ Build
profile/obj/*
profile/models/c5g7/c5g7-cmfd
profile/models/c5g7/c5g7-cmfd.o
profile/models/c5g7/c5g7
profile/models/c5g7/c5g7.o
profile/models/gradients/one-directional/one-directional-gradient
profile/models/gradients/one-directional/one-directional-gradient.o
profile/models/gradients/two-directional/two-directional-gradient
profile/models/gradients/two-directional/two-directional-gradient.o
profile/models/homogeneous/homogeneous-one-group
profile/models/homogeneous/homogeneous-one-group.o

# IPython Notebook
*/.ipynb_checkpoints/

# OpenMC input files
*.xml
statepoint*
summary*