# installation
*.o
*.cxx
*.h.gch
*.so
*.pbs.e*
*.pbs.o*
*.pyc
*/*.o
*/*.cxx
*/*.h.gch
*/*.so
*~
*/*~
*/*.pbs.e*
*/*.pbs.o*
*/*.pyc
build
build/*
dist
dist/*
openmoc/openmoc.py
openmoc/openmoc_wrap.cpp

openmoc/mic/openmoc_mic.py
openmoc/mic/openmoc_mic_wrap.cpp

openmoc/intel/single/openmoc_intel_single_wrap.cpp
openmoc/intel/single/openmoc_intel_single.py
openmoc/intel/double/openmoc_intel_double_wrap.cpp
openmoc/intel/double/openmoc_intel_double.py

openmoc/gnu/single/openmoc_gnu_single_wrap.cpp
openmoc/gnu/single/openmoc_gnu_single.py
openmoc/gnu/double/openmoc_gnu_double_wrap.cpp
openmoc/gnu/double/openmoc_gnu_double.py

openmoc/bgq/single/openmoc_bgq_single_wrap.cpp
openmoc/bgq/single/openmoc_bgq_double.py
openmoc/bgq/double/openmoc_bgq_double_wrap.cpp
openmoc/bgq/double/openmoc_bgq_double.py

openmoc/cuda/openmoc_cuda.py
openmoc/cuda/openmoc_cuda_wrap.cpp
openmoc/cuda/single/openmoc_cuda_single_wrap.cpp
openmoc/cuda/single/openmoc_cuda_single.py
openmoc/cuda/double/openmoc_cuda_double_wrap.cpp
openmoc/cuda/double/openmoc_cuda_double.py


# output files
log
log/*
*/log
*/log/*
tracks
tracks/*
*/tracks
*/tracks/*
plots
plots/*
*/plots
*/plots/*
pin-powers
pin-powers/*
*/pin-powers
*/pin-powers/*
simulation-state*
simulation-state/*
*/simulation-state*
*/simulation-state*/*

*.data
*/*.data
*.png
*/*.png

openmoc-*-.log
*/openmoc-*-.log

penmp
*/penmp
penmoc
penmp-report
*/penmoc
*/penmp-report
*.egg-info/*
*/*.egg-info/

openmoc/intel/single/openmoc_intel_single.py
openmoc/intel/single/openmoc_intel_single_wrap.cpp
openmoc/intel/double/openmoc_intel_double.py
openmoc/intel/double/openmoc_intel_double_wrap.cpp

openmoc/gnu/single/openmoc_gnu_single.py
openmoc/gnu/single/openmoc_gnu_single_wrap.cpp
openmoc/gnu/double/openmoc_gnu_double.py
openmoc/gnu/doube/openmoc_gnu_double_wrap.cpp

openmoc/cuda/openmoc_cuda.py
openmoc/cuda/openmoc_cuda_wrap.cpp
openmoc/cuda/single/openmoc_cuda_single.py
openmoc/cuda/single/openmoc_cuda_single_wrap.cpp
openmoc/cuda/double/openmoc_cuda_double.py
openmoc/cuda/double/openmoc_cuda_double_wrap.cpp


#Documentation
docs/build
docs/build/*
docs/doxygen/xml
docs/doxyge/xml/*

# BGQ
*.lst

*.cobaltlog
*/*.cobaltlog
*.error
*/*.error
*.output
*/*.output

*core*
*/core*

build/*
*/build/
*/build/*

.idea*
.idea/*