# Installation
*.o
*.cxx
*.h.gch
*.so
*.pyc
*.o
*.cxx
*.h.gch
*.so
*~
build/*
dist/*
openmoc/openmoc.py
openmoc/openmoc_wrap.cpp
openmoc/cuda/openmoc_cuda.py
openmoc/cuda/openmoc_cuda_wrap.cpp

# TORQUE log files
*.pbs.e*
*.pbs.o*

# output files
log
tracks
plots
fission-rates
simulation-states
*.data
*.png
*.ppm
openmoc-*-.log

Openmp
*/penmp
penmoc
penmp-report
*/penmoc
*/penmp-report
*/*.egg-info/*

#Documentation
sphinx/
docs/build
docs/build/*
docs/doxygen/xml
docs/doxyge/xml/*

build/*
*/build/*

# PyCharm configuration files
.idea/*

*.DS_Store
*/*.DS_Store

# Use wildcards as well
# *~
*.swp

# C++ Build
profile/obj/*
profile/models/c5g7/c5g7-cmfd
profile/models/c5g7/c5g7-cmfd.o
profile/models/c5g7/c5g7
profile/models/c5g7/c5g7.o
profile/models/gradients/one-directional/one-directional-gradient
profile/models/gradients/one-directional/one-directional-gradient.o
profile/models/gradients/two-directional/two-directional-gradient
profile/models/gradients/two-directional/two-directional-gradient.o
profile/models/homogeneous/homogeneous-one-group
profile/models/homogeneous/homogeneous-one-group.o

# IPython Notebook
.ipynb_checkpoints/

# OpenMC input/output files
*.xml
statepoint*
summary*

# Test results error file
results_error.dat
results_test.dat

# Test build files
openmoc/
*.log

# Doxygen
docs/doxygen/html/*
