<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>100000</particles>
  <batches>100</batches>
  <inactive>10</inactive>
  <source strength="1.0">
    <space type="box">
      <parameters>-0.62992 -0.62992 -0.62992 0.62992 0.62992 0.62992</parameters>
    </space>
  </source>
  <output>
    <tallies>false</tallies>
    <summary>true</summary>
  </output>
</settings>
